* {
  box-sizing: border-box;
  /* border: solid red 1px; */
}

header {
  position: relative;
  height: 95px;
  margin-bottom: 20px;
  background-color: #201d57;
}

body {
  background-color: honeydew;
  
}

main {
  margin: auto;
  position: relative;
  width: 1060px;
  min-height: 100%;
}

footer {
  position: fixed;
  height: 100px;
  background-color: #201d57;
  width: 100%;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

nav {
  margin: auto;
  width: 1060px;
}

nav > ul {
  position: absolute;
  top: 50%;
  height: 70px;
  margin-top: -35px;
}

nav > ul > li {
  float: left;
  margin-bottom: 20px;
  margin-right: 20px;
  line-height: 70px;
  color: whitesmoke;
}

nav > ul > li > img {
  width: 200px;
  height: 70px;
}

nav > ul > li > h1 {
  font-size: 2em;
  margin-right: 40px;
}

li > a {
  text-decoration: none;
  color: #999;
}

footer > p {
  float: right;
  line-height: 100px;
  padding-right: 10px;
  color: whitesmoke;
}

main > section {
  float: left;
  margin-bottom: 20px;
  overflow: auto;
}

main > h1 {
  font-size: 2em;
  text-align: right;
  color: #444;
  margin-bottom: 5px;
}

main > p {
  font-size: 1.1em;
  text-align: right;
  color: #444;
  margin-bottom: 20px;
}

#leftBox {
  width: 400px;
}

#leftBox li {
  font-size: 1.1em;
}

#leftBox h2 {
  font-size: 1.5em;
}

#centerBox {
  width: 640px;
  margin-left: 20px;
  margin-bottom: 100px;
}

#centerBox > div {
  float: left;
}

#centerBox > div > h3 {
  font-size: 1.4em;
  text-align: center;
  margin-bottom: 20px;
}

#centerBox > div > img {
  width: 200px;
  height: 200px;
}

#centerBox > div:nth-child(3n +2) {
  margin: 0 20px;
}